.loader{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}
.pulse{
    height: 40px;
    width: 40px;
    background: linear-gradient(
        #764BA2,#667EEA ,#fbad50
    );
    position: absolute;
    /* margin: auto; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: left;
    color: #ffffff;
}
.pulse:before,
.pulse:after{
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-image: linear-gradient(90deg,#662d8c,#ED1E79 , #fccc63);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
}
.pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
.icons{
    margin: 10px 0;
}
.icons i{
    cursor: pointer;
}
.bottom{
    position: fixed;  
    bottom: 25px; 
    right: 10px;
    height: 120px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   z-index: 100;
}
@media  (min-width:1024px) and (max-width:1366px){
    #left-nav-div{
        margin-right: 100px;
    }
    #right-nav-div{
        margin-left: 400px;
}
}
@media  (min-width:1367px) and (max-width:1920px){
    #left-nav-div{
        margin-right: 400px;
    }
    #right-nav-div{
        margin-left: 500px;
    }
}