doctype html
html
<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
title Cyber Pranks 101
block scripts
script(src="https://cdn.tailwindcss.com")
script(src="../static/js/home.js")

block style
    style 
        include ../static/css/base.css
</head>
<body class="bg-gray-900">
<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container flex mx-auto p-5 flex-wrap flex-col md:flex-row items-center">
        //- <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        <nav class="flex">
            <div class="mr-40 left flex " id="left-nav-div">
                <img src="../static/css/img/favicon-3.png" class="h-7 w-7 ml-3"><div class="flex right w-40">Cyber Pranks 101</div>
            </div>
            <!-- <div class="flex ml-40"> -->
            <!-- <p align="right" class="flex ml-40 blockd"> -->
            <div class="flex ml-20" id="right-nav-div">
            <!-- <p align="right" class="flex "> -->
            <a class="mr-5 hover:text-white font-large right" href="/">Home</a>
            <a class="mr-5 hover:text-white font-large" href="/contact">Contact</a>
            <a class="mr-5 hover:text-white font-large" href="https://www.youtube.com/channel/UCA3shjSUdk3T21RFvBww_pA/featured" target="_blank">Subscribe</a>
            <a class="hover:text-white font-large" href="/team">Team</a>
            </div>
        </nav>
        <!-- <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0"> -->
        <!-- </div> -->
    </div>
</header>
block content
    
<footer class="text-gray-400 bg-gray-900 body-font ">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            //- <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            //-     <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
            //- //- </svg>
            //- <span class="ml-3 text-xl">😈       Cyber Pranks 101</span>
            <img src="../static/css/img/favicon-3.png" class="h-7 w-7 ml-3 mt-2 mr-3 ">Cyber Pranks 101
        </a>
        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2022
            Cyber Pranks 101 —
            <a href="https://www.youtube.com/channel/UCA3shjSUdk3T21RFvBww_pA/featured" class="text-gray-500 ml-3 hover:text-white" target="_blank" rel="noopener noreferrer">@Cyber Pranks 101</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
            </a>
            <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                    </path>
                </svg>
            </a>
            <a class="ml-3 text-gray-400">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
            </a>
            <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>
        </span>
    </div>
</footer>
</body>