extends base.pug

block scripts
    script(src="https://cdn.tailwindcss.com")

block style
    style 
        include ../static/css/insta.css
        include ../static/css/style.css

block content

        <section class="text-gray-400 bg-gray-900 body-font">
            <h1 align="center" class="px-5 py-5 highlighted">Pranks You Can Play On Instagram</h1>
            <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-wrap -m-4">
                <a class="border-insta  p-4  instagram p-6 rounded-lg">
                    <span></span>                                                            
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake A Vacation 🏖️</h1>
                            <p class="leading-relaxed mb-3">Want to make everyone jealous of you? Spend a day or two tricking everyone into thinking you're going on an elaborate vacation out of nowhere. Pick a really cool destination and find other images online or on Instagram you can post, pretending they're your own. If you're good with Photoshop, put yourself there too. Act like you're away on your Story also, like posting a photo of you holding your passport. At the end of the day, make it clear that you were totally joking with a selfie of you at home.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                    <br>
                </a>
                <a  class="border-insta  p-4  instagram p-6 rounded-lg">
                    <span></span>                                                            
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Make followers angry 😡</h1>
                            <p class="leading-relaxed mb-3">	2. Do you want to make everyone who follows you very angry? Make up a fake spoiler about a really popular TV show, and post it in a way that ensures everyone will see it. Make it believable — maybe use a popular fan theory — and act like you have a link to a source. You can even say it in your Story so that people are forced to hear it.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a  class="border-insta  p-4  instagram p-6 rounded-lg">
                    <span></span>                                                            
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">You met a Celebrity!!</h1>
                            <p class="leading-relaxed mb-3">If you're good at Photoshop, you can try convincing everyone who follows you that you met a really, really cool celebrity that you love. Try to do a little research to make sure some people believe you, and make sure your Photoshopping skills are on point. </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Like ❤️</h1>
                            <p class="leading-relaxed mb-3">If you want to prank one friend, go through their feed and comment on or like every single one of their photos. They'll get about a million notifications. It's harmless fun!</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a  class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Confuse Your Followers 😵</h1>
                            <p class="leading-relaxed mb-3">Think about some of the biggest Instagram posts out there: pretty much anything Kendall Jenner posts, for instance. Copy the ones you're comfortable copying and post them like it's no big deal. Your followers will either be completely confused about what you're doing, or they'll recognize the photos and laugh.</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a  class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Give yourself a FAKE look! 🎭</h1>
                            <p class="leading-relaxed mb-3">These days, Instagram’s story filters are looking more and more realistic. That being said, it gives you the chance to play a trick on your followers if you post a photo with a bald filter, thin eyebrows filter, or even face tattoos. With the right angle and lighting the filter will look totally IRL.

                            </b><p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Upload in a Row!</h1>
                            <p class="leading-relaxed mb-3">An easy way to prank everyone on your timeline is to post about 15 photos in a row, all of similar things. Of course, this could also make you lose followers, so proceed with caution.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Create A Suspense 🤨</h1>
                            <p class="leading-relaxed mb-3">Put everyone in suspense by posting a photo or video on your Instagram feed or your Story acting like you have a huge, important announcement to make. Tease the announcement throughout the day to make sure they're all thinking about it. Then just... never say anything, and act like nothing ever happened.</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake DM or Story🧾</h1>
                            <p class="leading-relaxed mb-3">You’ll need some Photoshop skills once again for this one, but it’s a little easier than making it look like you actually met a celeb. Instead, fake an Instagram DM or a post like that you can add to your story so it looks like you were acknowledged by your fave.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">New Tattoo 🖍️</h1>
                            <p class="leading-relaxed mb-3">Your feed is the place for all of the parts of your life you want to show off... so why not show off some new ink? You can draw on yourself, use a detailed temporary tattoo, or edit a photo to look like you got a new tattoo. Even better if you make the design really silly so your followers get a laugh.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Just kidding 😉</h1>
                            <p class="leading-relaxed mb-3">Waste everyone's time with an Instagram Story about something extremely out of the ordinary, like that you ran into an alligator on the streets of New York City. At the end, finish with "Just kidding!" Everyone will groan.</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Annoy One of Your Followers 😈</h1>
                            <p class="leading-relaxed mb-3">Do you have a friend who has figured out how to make their social media life an absolute living hell? That’s what this next trick will do. Just go through all of one of your follower’s posts on Instagram, like them, then comment underneath saying something funny or insightful about whatever they posted just so it seems as if someone else was really commenting. There’s a good chance that your friend will be unable to use their phone for the next 30 minutes. The best part about this pranking idea? It is completely harmless</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an angler fish to a porcupine could do the trick, so be imaginative. Welcome your new pet to the family, give it a name, and gush about your future together.</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Engagement 💍</h1>
                            <p class="leading-relaxed mb-3">Looking for good pranks to pull that will totally shock your friends and family? Faking an engagement is a great place to start. It’s easy and it will get a big reaction.For the most effective fake engagement possible, make sure to stick to the golden relationship rules for social media. Don’t go too over the top or it will be obvious that you’re faking.Instead, keep it subtle with a single picture of an engagement ring on a hand. If you have a best friend in your life, pretend that your long-term relationship has unexpectedly turned romantic.</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake an Injury 🤕</h1>
                            <p class="leading-relaxed mb-3">If you decide to fake an injury for your April Fools’ prank, keep it light. Sprained ankles or cooking-related cuts are much funnier than fake fatalities.</p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-insta  p-4  instagram p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-i">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Show off Your Diploma 🎓</h1>
                            <p class="leading-relaxed mb-3">	If you’re enrolled in high school, prank your friends by making them believe you graduated early! Wondering how? It’s easier than you think.
                                All you need to do is buy a high school diploma online. From there, post a ton of photos with your shiny new certificate congratulating yourself on this huge achievement. Your friends will be totally shocked.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
                <div class="bottom">
                <div class="icons">
                    <i class="far fa-3x fa-play-circle" id="masterPlay"></i>
                </div>
                </div>
                <script src="https://kit.fontawesome.com/66ac0492b9.js" crossorigin="anonymous"></script>
                <script src="../static/js/home.js"></script>
                </div>
                </div>

                                                                                
            </div>
            </div>
        </section>