extends base.pug

block scripts
    script(src="https://cdn.tailwindcss.com")

block style
    style 
        include ../static/css/other.css
        include ../static/css/style.css
block content
    <center>
    <div class="inline-block mt-80 mb-80">
        <h1 class="text-cyan-400" id="paid" style="font-size: 40px;" data-paid="&nbsp;Coming Soon&nbsp;">&nbsp;Coming Soon&nbsp;</h1>
    </div></center>