extends base.pug

block scripts
    script(src="https://cdn.tailwindcss.com")

block style
    style 
        include ../static/css/snapchat.css
        include ../static/css/style.css

block content
    <section class="text-gray-400 bg-gray-900 body-font">
            <h1 align="center" class="px-5 py-5 highlighted">Pranks You Can Play On SnapChat </h1>
            <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-wrap -m-4">
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake A Vacation 🏖️</h1>
                            <p class="leading-relaxed mb-3"> Snap a picture of a beach stock photo, then pretend you're on vacation..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a  class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Confess A BIG Secret in "One-Second Snap"🤫</h1>
                            <p class="leading-relaxed mb-3">Confess a "big secret" in a one-second Snap.They'll know something happened, but they won't be sure what</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Photo..but VIDEO 📹</h1>
                            <p class="leading-relaxed mb-3">Tell lots of people you're going to take their photo, then take a video instead.Then, create the ultimate April Fool's Day snap story.</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">FAKE Engagement 💍</h1>
                            <p class="leading-relaxed mb-3">Announce a fake engagement in your Snap Story.If you can't find a ring, just use a celebrity Snap. </p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">FAKE Birthday 🎂</h1>
                            <p class="leading-relaxed mb-3">Announce your fake birthday in your Snap Story.And rake in the congratulatory Facebook posts.</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Volume is BROKEN 🔊🔉🔈</h1>
                            <p class="leading-relaxed mb-3">Make viewers think their phone volume is broken by mouthing your words.Tee hee</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Tap To View 😱</h1>
                            <p class="leading-relaxed mb-3">Friends have been doing this for a long time. They tap to load Snapchat jokes. <br>Pranks that make you tap on Snapchat So all you have to do to see the snaps...</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="border-snapchat p-4 snapchat p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-s">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">SNAPCHAT</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Not For YOU</h1>
                            <p class="leading-relaxed mb-3">Send a Snap that looks like it's for someone else.Sit back and wait for the confused responses -- or for someone to appear at your home with a bag of fertilizer</p>
                            </div>
                        </div>
                    </div>
                </a>