extends base.pug

block scripts
    script(src="https://cdn.tailwindcss.com")

block style
    style 
        include ../static/css/tiktok.css
        include ../static/css/style.css

block content
    <div>
        <img src="../static/css/img/banned.png" class="center">
    </div>
