extends base.pug

block scripts
    script(src="https://cdn.tailwindcss.com")

block style
    style 
        include ../static/css/whatsapp.css
        include ../static/css/style.css

block content
        <section class="text-gray-400 bg-gray-900 body-font">
            <h1 align="center" class="px-5 py-5 highlighted">Pranks You Can Play On Whatsapp</h1>
            <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-wrap -m-4">
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/pet" class="border-whatsapp p-4 whatsapp p-6 rounded-lg"> 
                    <span></span>                                                           
                    <div class="d-w">
                        <div class="">
                            <div class="p-6">
                            <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">INSTAGRAM</h2>
                            <h1 class="title-font text-lg font-medium text-white mb-3">Fake Pet 🐶</h1>
                            <p class="leading-relaxed mb-3">Post a pic of an animal that would make an improbable pet. Anything from an<br> angler fish to a porcupine could do the trick, so be imaginative..</p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="bottom">
                <div class="icons">
                    <i class="far fa-3x fa-play-circle" id="masterPlay"></i>
                </div>
                </div>
                <script src="https://kit.fontawesome.com/66ac0492b9.js" crossorigin="anonymous"></script>
                <script src="../static/js/home.js"></script>
                </div>
                </div>
            </div>
            </div>
        </section>